.min-h-screen {
    min-height: 100vh;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.font-bold {
    font-weight: bolder;
}

.my-1 {
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2 {
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue {
    color: rgb(227 74 56);
    ;
}

.btn {
    padding: 7px 12px;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: rgb(227 74 56);
    ;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

.section4 form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.section4 form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section4 form .input-box input,
.section4 form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: #333;
    background: #fdfdfd;
    border-radius: .8rem;
    margin: .7rem 0;
}

.section4 form .input-box input {
    width: 40%;
}

.section4 form textarea {
    resize: none;
}

.section4 form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
/* 
.about-img img {
    width: 35vw;
} */

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1;
    font-size: 2.3rem;
}

.about-content h3 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* .about1 {
    width: 466px;
} */